<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Red Robot - digitale Medien GmbH</title>
    <meta name="description"
        content="Digitale Lösungen für digitale Zeiten!Wir setzten Ihr Web-Projekt umund vermarkten es online! Projekte und Preise." />
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">


    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="wrapper">

        <main class="bg-dark c-white">
            @@include("../blocks/modules/header/header.html")
        </main>
        <section class="section section_p">
            <div class="container">
                <h2 class="title ttu">DATENSCHUTZ</h2>
                <br>
                <div class="elementor-text-editor elementor-clearfix">
                    <p>Damit Sie sich bei dem Besuch unserer Webseiten sicher fühlen, beachten wir bei der Verarbeitung
                        Ihrer personenbezogenen Daten streng die gesetzlichen Bestimmungen und möchten Sie hier über
                        unsere Datenerhebung und Datenverwendung informieren. Wir respektieren Ihre Privats- und
                        Persönlichkeitssphäre. Der Schutz und die gesetzeskonforme Erhebung, Verarbeitung und Nutzung
                        Ihrer personenbezogenen Daten ist daher für uns ein wichtiges Anliegen. Damit Sie sich bei dem
                        Besuch unserer Webseiten sicher fühlen, beachten wir bei der Verarbeitung Ihrer
                        personenbezogenen Daten streng die gesetzlichen Bestimmungen und möchten Sie hier über unsere
                        Datenerhebung und Datenverwendung informieren.</p>
                    <p><strong>1. Verantwortliche Stelle</strong></p>
                    <p>Verantwortliche Stelle für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten
                        im Sinne des Bundesdatenschutzgesetzes ist die Red Robot — digitale Medien GmbH, Am Buir 2,
                        41849 Wassenberg (im Folgenden: Red Robot).<br>Sofern Sie der Erhebung, Verarbeitung oder
                        Nutzung Ihrer Daten durch Red Robot nach Maßgabe dieser Datenschutzbestimmungen insgesamt oder
                        für einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch per E-Mail, Fax oder
                        Brief an folgende Kontaktdaten senden:</p>
                    <p>Red Robot — digitale Medien GmbH<br>Am Buir 2<br>41849 Wassenberg<br>E-Mail: mail@red-robot.de
                    </p>
                    <p><em>Dieses Dokument können sie ausdrucken oder speichern, indem Sie die übliche Funktionalität
                            Ihres InternetBrowsers (dort meist «Datei» und dann «Speichern unter») nutzen. Sie können
                            sich dieses Dokument auch in PDF-Form herunterladen und archivieren, indem Sie hier klicken.
                            Zum Öffnen der PDF-Datei benötigen Sie das kostenfreie Programm Adobe Reader (unter
                            www.adobe.de) oder vergleichbare Programme, die das PDF-Format ausführen. Die nachfolgende
                            Datenschutzerklärung erläutert Ihnen, welche Daten auf unseren Webseiten erhoben werden und
                            welche Daten wir wie verarbeiten und nutzen.</em></p>
                    <p><strong>2. Erhebung, Verarbeitung und Nutzung von personenbezogenen Daten</strong></p>
                    <p><strong>2.1 Personenbezogenen Daten</strong></p>
                    <p>Personenbezogene Daten sind Angaben über sachliche oder persönliche Verhältnisse einer bestimmten
                        oder bestimmbaren natürlichen Person. Hierunter fallen beispielsweise Ihr Name, Ihre
                        Telefonnummer, Ihre Anschrift, sowie sämtliche Bestandsdaten, die Sie uns bei der Registrierung
                        und beim Anlegen Ihres Kundenkontos mitteilen. Statistische Daten, die wir beispielsweise bei
                        dem Besuch unserer Websites erheben und die nicht direkt mit Ihrer Person in Verbindung gebracht
                        werden können, fallen nicht hierunter. Zum Beispiel sind dies Statistiken darüber, welche
                        Web-Pages besonders beliebt sind oder wie viele Nutzer bestimmte Seiten von Red Robot besuchen.
                    </p>
                    <p><strong>2.2 Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten</strong></p>
                    <p>Datenschutz ist für uns sehr wichtig. Daher halten wir uns bei der Erhebung, Verarbeitung und
                        Nutzung Ihrer personenbezogenen Daten streng an die gesetzlichen Bestimmungen des
                        Bundesdatenschutzgesetzes und des Telemediengesetzes. Wir erheben, speichern und verarbeiten
                        Ihre Daten für die gesamte Abwicklung Ihrer Buchung, einschließlich eventuell späterer
                        Gewährleistungen, für unsere Servicedienste, die technische Administration sowie eigene
                        Marketingzwecke. Ihre personenbezogenen Daten werden an Dritte nur weitergegeben oder sonst
                        übermittelt, wenn dies zum Zweck der Vertragsabwicklung oder Abrechnung erforderlich ist oder
                        Sie zuvor eingewilligt haben. Im Rahmen der Buchungsabwicklung erhalten beispielsweise die auf
                        letmesport.de gelisteten Dienstleister (Sportanlagenbetreiber, Sportvereine und Veranstalter)
                        die notwendigen Daten zur Buchungsabwicklung. Die so weitergegebenen Daten dürfen von unseren
                        Dienstleistern lediglich zur Erfüllung ihrer Aufgabe verwendet werden. Eine anderweitige Nutzung
                        der Informationen ist nicht gestattet und erfolgt auch bei keinem der von uns betrauten
                        Dienstleister.</p>
                    <p>Für Ihre Buchung benötigen wir Ihre korrekten Namens-, Adressdaten. Ihre E-Mail-Adresse benötigen
                        wir, damit wir Ihnen Ihre Buchung bestätigen und mit Ihnen kommunizieren können. Wir nutzen
                        diese zudem für Ihre Identifikation (Kundenlogin). Eine Löschung Ihrer personenbezogenen Daten
                        erfolgt, sofern gesetzliche Aufbewahrungspflichten dem nicht entgegenstehen und wenn Sie einen
                        Löschungsanspruch geltend gemacht haben, wenn die Daten zur Erfüllung des mit der Speicherung
                        verfolgten Zwecks nicht mehr erforderlich sind oder wenn ihre Speicherung aus sonstigen
                        gesetzlichen Gründen unzulässig ist.</p>
                    <p><strong>2.3 &nbsp;Produktempfehlungen per E-Mail</strong></p>
                    <p>Als Kunde von letmesport erhalten Sie regelmäßig Produktempfehlungen von uns per Mail. Diese
                        Produktempfehlungen erhalten Sie von uns unabhängig davon, ob Sie einen Newsletter abonniert
                        haben. Wir wollen Ihnen auf diese Weise Informationen über Produkte aus unserem Angebot zukommen
                        lassen, die Sie auf Grundlage Ihrer letzten Einkäufe bei uns interessieren könnten. Dabei
                        richten wir uns streng nach den gesetzlichen Vorgaben.<br>Sofern Sie keine Produktempfehlungen
                        oder insgesamt keine werblichen Nachrichten mehr von uns erhalten wollen, können Sie dem
                        jederzeit widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den
                        Basistarifen entstehen. Eine Mitteilung in Textform an die unter Punkt eins genannten
                        Kontaktdaten (z.B. E-Mail, Fax, Brief) reicht hierfür aus. Selbstverständlich finden Sie auch in
                        jeder E-Mail einen Abmelde-Link.</p>
                    <p><strong>2.3.1 Individuelle Werbung&nbsp;</strong></p>
                    <p>Informationen, die wir von Ihnen erhalten, helfen uns, unseren Service kundenfreundlich und
                        individuell zu gestalten. Die von Ihnen übermittelten und automatisch generierten Informationen
                        werden dazu genutzt, auf Sie und Ihre Interessen zugeschnittene Werbung zu gestalten. Wir nutzen
                        hierfür vorhandene Informationen, wie beispielsweise Empfangs- und Lesebestätigungen von
                        E-Mails, Informationen über Computer und Verbindung zum Internet, Betriebssystem und Plattform,
                        Ihre Bestellhistorie, Ihre Servicehistorie, Datum und Zeit des Besuchs der Homepage, Produkte
                        die Sie angeschaut haben.</p>
                    <p>Diese Informationen nutzen wir ausschließlich in pseudonymisierter Form. Durch die Analyse und
                        Auswertung dieser Informationen ist es uns möglich, unsere Webseiten und unser Internetangebot
                        zu verbessern, sowie Ihnen dadurch individuelle Werbung zuzusenden. Das heißt Werbung, die Ihnen
                        Produkte empfiehlt, die Sie auch tatsächlich interessieren könnten. Unser Ziel ist es, unsere
                        Werbung für Sie nützlicher und interessanter zu gestalten. Daher hilft uns die Auswertung und
                        Analyse der von Ihnen gesammelten pseudonymisierten Daten dabei, dass wir Ihnen nicht wahllos
                        Werbung zusenden. Vielmehr übersenden wir Ihnen Werbung, wie zum Beispiel Newsletter,
                        Produktempfehlungen, per E-Mail oder Briefwerbung, die Ihren Interessengebieten entsprechen.
                        Insofern wird beispielsweise auch verglichen, welche unserer Werbe E-Mails Sie öffnen, um zu
                        vermeiden, dass an Sie unnötige E-Mails versandt werden.</p>
                    <p>Falls Sie keine personalisierte Werbung erhalten wollen, können Sie dem jederzeit insgesamt oder
                        für bestimmte Maßnahmen widersprechen. Eine Mitteilung in Textform an die unter unter Punkt eins
                        genannten Kontaktdaten (z.B. E-Mail, Fax, Brief) reicht hierfür aus.</p>
                    <p><strong>3. Cookies</strong></p>
                    <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner
                        keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
                        nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf
                        Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten
                        Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
                        gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese
                        Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen. Sie können
                        Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies
                        nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell
                        ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren.
                        Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>
                    <p><strong>4. Google Analytics</strong></p>
                    <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (»Google»). Google
                        Analytics verwendet sog. »Cookies», Textdateien, die auf Ihrem Computer gespeichert werden und
                        die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten
                        Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen
                        Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen
                        benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für
                        die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der
                        Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen
                        gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte
                        diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit
                        anderen Daten der Google in Verbindung bringen. Sie können die Installation der Cookies durch
                        eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf
                        hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll
                        umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung
                        der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem
                        zuvor benannten Zweck einverstanden.</p>
                    <p><strong>5. Server-Log-Files</strong></p>
                    <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in sogenannten Server-Log
                        Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
                    <ul>
                        <li>Browsertyp und Browserversion</li>
                        <li>verwendetes Betriebssystem</li>
                        <li>Referrer URL</li>
                        <li>Hostname des zugreifenden Rechners</li>
                        <li>Uhrzeit der Serveranfrage</li>
                    </ul>
                    <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit
                        anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu
                        prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>
                    <p><strong>6. Kontaktformular</strong></p>
                    <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem
                        Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der
                        Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht
                        ohne Ihre Einwilligung weiter.</p>
                    <p><strong>7. SSL-Verschlüsselung</strong></p>
                    <p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher
                        Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine
                        SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des
                        Browsers von «http://» auf «https://» wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
                        Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht
                        von Dritten mitgelesen werden.</p>
                </div>
            </div>
        </section>


        @@include("../blocks/modules/footer/footer.html")

    </div>
</body>

</html>