<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Red Robot - digitale Medien GmbH</title>
        <meta name="description" content="Digitale Lösungen für digitale Zeiten!Wir setzten Ihr Web-Projekt umund vermarkten es online! Projekte und Preise."/>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="wrapper">
                
            <main class="bg-dark c-white">
                @@include("../blocks/modules/header/header.html")
                <div class="main">
                    <div class="main__texts relative">
                        <div class="main__text tar">
                            <span class="c-red">:</span>DESIGN
                        </div>
                        <div class="main__text tal"><span class="c-red"><</span>CODE<span class="c-red">></span></div>
                        <div class="main__text tac"><span class="c-red">+</span> AD`S</div>
                        <div class="main__line">
                            <img src="./img/main_line.svg" width="454" height="174" alt="">
                        </div>
                    </div>
                    <div class="main__description tac">Wir entwickeln maßgeschneiderte Anwendungen, <br/> die den Erfolg Ihres Unternehmens steigern!</div>
                    <div class="main__bottom tac">
                        <a href="#modal" data-fancybox class="btn" data-title="Kostenloses;Erstgespräch;1">
                            <span>Beratung anfragen</span>
                            <svg viewBox="0 0 27 27" width="27" height="27">
                                <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </main>
            <section class="section section_p relative bg-dark c-white relative about">
                <div class="container">
                    <h2 class="about__title title">
                        <small>Red Robot</small>
                        FULL SERVICE AGENTUR & DIGITALAGENTUR
                    </h2>

                    <div class="about__columns">
                        <div class="about__text"><span class="c-red">Red Robot</span> ist Ihr Partner auf dem Weg durch die digitale Transformation. Unsere tägliche Motivation besteht darin, neueste Technologien optimal für Ihre Bedürfnisse einzusetzen. <br/>Seit 2017 bieten wir als 360°-Agentur für digitale Lösungen umfassende Dienstleistungen aus einer Hand.</div>
                        <div class="about__text"><span class="c-red">Unsere Mission</span>  ist es, die Geschäftsprozesse unserer Kunden mithilfe innovativer IT-Lösungen zu optimieren. Bei der Planung, Gestaltung und Umsetzung Ihrer digitalen Projekte setzen wir auf ein erstklassiges Team, bestehend aus erfahrenen Entwicklern, kreativen Designern und innovativen Marketing-Enthusiasten.</div>
                    </div>
                    <div class="about__bottom">
                        <div class="about__bottom-text ttu">Gemeinsam können wir etwas Erstaunliches erschaffen!</div>
                        <a href="#modal" data-fancybox class="btn" data-title="Kostenloses;Erstgespräch;1">
                            <svg viewBox="0 0 27 27" width="27" height="27">
                                <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>

            <section class="section section_p">
                <div class="container">
                    <h2 class="title tac ttu">Unsere <span class="c-red">Leistungen?</span></h2>
                    <div class="subtitle tac">So vielseitig wie unsere Kunden! Zu folgenden <br/>Themen durften wir Projekte umsetzen.</div>

                    <div class="services__row">
                        <div class="services__item">
                            <div class="services__ico">
                                <svg viewBox="0 0 18 18" width="18" height="18">
                                    <use xlink:href="./img/sprites/sprite.svg#ico_service_1"></use>
                                </svg>                                
                            </div>
                            <div class="services__title">Website & Apps</div>
                            <ul class="services__list">
                                <li>Business Website</li>
                                <li>Online Katalog</li>
                                <li>Online Kalkulator</li>
                                <li>Business Software</li>
                                <li>Versand-Software</li>
                            </ul>
                        </div>
                        <div class="services__item">
                            <div class="services__ico">
                                <svg viewBox="0 0 18 18" width="18" height="18">
                                    <use xlink:href="./img/sprites/sprite.svg#ico_service_2"></use>
                                </svg>                                
                            </div>
                            <div class="services__title">Digital Services</div>
                            <ul class="services__list">
                                <li>SEO</li>
                                <li>SEA</li>
                                <li>Pagespeed Optimierung</li>
                                <li>Website Audits</li>
                                <li>Modernisierung von Access Lösungen</li>
                            </ul>
                        </div>
                        <div class="services__item">
                            <div class="services__ico">
                                <svg viewBox="0 0 18 18" width="18" height="18">
                                    <use xlink:href="./img/sprites/sprite.svg#ico_service_3"></use>
                                </svg>                                
                            </div>
                            <div class="services__title">Support</div>
                            <ul class="services__list">
                                <li>Website Support</li>
                                <li>Entstörung von Websites</li>
                                <li>Hosting Konfiguration</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section_p bg-dark c-white gettask">
                <div class="container">
                    <div class="gettask__row">
                        <div class="gettask__col">
                            <h2 class="title ttu gettask__title">Haben Sie eine <br/> <span class="c-red">Aufgabe für <br/>uns?</span> </h2>
                            <div class="subtitle">Melden Sie sich für einen unverbindlichen Austausch bei einem virtuellen Kaffee!</div>
                            <!-- <div class="gettask__bottom">
                                <a href="#modal" data-fancybox class="btn">
                                    <span>ERSTGESPRÄCH  anfragen</span>
                                    <svg viewBox="0 0 27 27" width="27" height="27">
                                        <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                                    </svg>
                                </a>
                            </div> -->
                            <div class="gettask__bottom">
                                <div class="gettask__bottom-text ttu">Erstgespräch anfordern</div>
                                <a href="#modal" data-fancybox class="btn" data-title="Erstgespräch;anfordern;1">
                                    <svg viewBox="0 0 27 27" width="27" height="27">
                                        <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="gettask__col">
                            <div class="gettask__text">Das gesamte Wissen, das zum erfolgreichen Entwickeln, Betreiben und Vermarkten eines Webprojekts benötigt wird, ist bei uns vereint. Kurze Wege und flache Hierarchien lassen Ihr Projekt in einer optimalen Umgebung entstehen.</div>
                            <div class="gettask__contacts">
                                <div class="gettask__contact">
                                    <span class="gettask__contact-lbl">Telefon</span>
                                    <a href="tel:+4924329298157" class="gettask__contact-val">+49 2432 92 98 157</a>
                                </div>
                                <div class="gettask__contact">
                                    <span class="gettask__contact-lbl">Post</span>
                                    <a href="mailto:mail@red-robot.de" class="gettask__contact-val">mail@red-robot.de</a>
                                </div>
                            </div>
                            <div class="gettask__bottom gettask__bottom_m">
                                <div class="gettask__bottom-text ttu">Erstgespräch anfordern</div>
                                <a href="#modal" data-fancybox class="btn" data-title="Erstgespräch;anfordern;1">
                                    <svg viewBox="0 0 27 27" width="27" height="27">
                                        <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="gettask__line">
                        <img src="./img/gettask_line.svg" width="1140" alt="">
                    </div>
                </div>
            </section>

            <section class="section section_p how">
                <div class="container">
                    <h2 class="how__title title tac ttu">
                        So steigern wir <br/><span class="c-red">Heute</span> Ihren <br/>Umsatz <span class="c-red">von morgen</span>
                    </h2>
                    <div class="subtitle tac how__subtitle">Gute Webseiten sollten nicht nur schön aussehen, sondern auch <br/> messbare Ergebnisse liefern! Überzeugen Sie Ihre Kunden und steigern <br/> Sie Ihren Umsatz durch eine verkaufsstarke Website von Red Robot.</div>

                    <div class="how__row">
                        <div class="how__item">
                            <div class="how__item-icon">
                                <img src="./img/ico_how_1.svg" width="106" height="80" alt="">
                            </div>
                            <div class="how__item-content">
                                <div class="how__item-title">Website</div>
                                <div class="how__item-description">Überzeugen Sie potentielle Neukunden mit einem professionellen Webauftritt, der Funktionalität und Ästhetik matcht!</div>
                            </div>
                        </div>
                        <div class="how__item">
                            <div class="how__item-icon">
                                <img src="./img/ico_how_2.svg" width="106" height="80" alt="">
                            </div>
                            <div class="how__item-content">
                                <div class="how__item-title">Sichtbarkeit</div>
                                <div class="how__item-description">Da Ihre Website besser performt, werden Sie öfter über Google gefunden.</div>                                
                            </div>
                        </div>
                        <div class="how__item">
                            <div class="how__item-icon">
                                <img src="./img/ico_how_3.svg" width="106" height="80" alt="">
                            </div>
                            <div class="how__item-content">
                                <div class="how__item-title">Boost</div>
                                <div class="how__item-description">Durch gezielte Online-Werbe-Kampagnen erhöhen wir Ihre Sichtbarkeit bei Ihrer Zielgruppe signifikant.</div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section manager relative">
                <div class="manager__container">
                    <div class="container relative">
                        <div class="manager__logo">
                            <img src="./img/rr_logo.svg" alt="">
                        </div>
                    </div>
                    <div class="manager__bg">
                        <div class="manager__bg-round"></div>
                    </div>
                    <div class="manager__wrap">
                        <div class="container">
                            <div class="manager__row">
                                <div class="manager__col">
                                    <h2 class="title manager__title ttu">Lassen Sie uns Ihre <span class="c-red">Website analysieren!</span></h2>
                                    <div class="manager__subtitle">Kostenlos & unverbindlich </div>
                                    <div class="manager__bottom">
                                        <div class="manager__bottom-text ttu">Zur kostenlosen Analyse</div>
                                        <a href="#modal" data-fancybox class="btn" data-title="kostenlose;Analyse anfordern;1">
                                            <svg viewBox="0 0 27 27" width="27" height="27">
                                                <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="manager__col manager__col_right">
                                    <div class="manager__photo">
                                        <img src="./img/manager.jpg" width="520" height="486" alt="">
                                    </div>
                                    <div class="manager__name">Florian Lindwehr</div>
                                    <div class="manager__status">Projektmanagement</div>
                                    <div class="manager__text">Sie betreiben eine Website und möchten sie auf “Herz und Nieren” prüfen? Ich zeige Ihnen wie.</div>
                                    <div class="manager__bottom manager__bottom_m">
                                        <div class="manager__bottom-text ttu">Zur kostenlosen Analyse</div>
                                        <a href="#modal" data-fancybox class="btn" data-title="kostenlose;Analyse anfordern;1">
                                            <svg viewBox="0 0 27 27" width="27" height="27">
                                                <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section_p reviews">
                <div class="container">
                    <h2 class="title ttu"><span class="c-red">Eigenlob</span> stinkt!</h2>
                    <div class="subtitle reviews__subtitle">Wenn wir abheben, dann nur <br/>mit unseren Kunden...</div>
                    
                    <div class="reviews__slider">
                        <div class="reviews__item">
                            <div class="reviews__content">
                                <div class="reviews__text">Wir greifen nun seit über einem Jahr, regelmäßig auf die Entwickler von Red Robot zurück und lassen uns, gerade bei dringenden Projekten unterstützen. Danke auch an dieser Stelle für die schnellen Reaktionszeiten und kompetente Lösungsfindung.</div>
                            </div>
                            <div class="reviews__info">
                                <div class="reviews__author">Michael Taraschewski</div>
                                <div class="reviews__firma">
                                    <div class="reviews__firma-lbl">Geschäftsführer</div>
                                    <div class="reviews__firma-name">Sonntagnacht GmbH</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @@include("../blocks/modules/footer/footer.html")

        </div>
        <div class="modal" id="modal">
            <div class="modal__wrap">
                <div class="modal__close" data-fancybox-close>
                    <svg viewBox="0 0 30 30" width="30" height="30">
                        <use xlink:href="./img/sprites/sprite.svg#ico_close"></use>
                    </svg>
                </div>
                <h3 class="modal__title modal__title_pr ttu js-modal-title">                     
                    <span class="c-red">Kostenloses</span> <br>Erstgespräch
                </h3>
                <div class="modal__subtitle">Don't be shy, say hi! Wir freuen uns auf einen unverbindlichen Austausch mit Ihnen!</div>
                <form action="" class="modal__form">
                    <input type="hidden" name="formname" class="js-modal-formname" >
                    <div class="modal__form-row">
                        <input type="text" class="input-text" name="name" placeholder="Vorname, Name*" required>
                    </div>
                    <div class="modal__form-row">
                        <input type="text" class="input-text" name="firma" placeholder="Firma">
                    </div>
                    <div class="modal__form-row">
                        <input type="tel" class="input-text" name="tel" placeholder="Tel.">
                    </div>
                    <div class="modal__form-row">
                        <input type="email" class="input-text" name="email" placeholder="E-Mail*" required>
                    </div>
                    <div class="modal__form-row">                       
                        <label class="input-checkbox">
                            <input type="checkbox" name="rules" required>
                            <span>Mit dem Absenden Ihrer Anfrage erklären Sie sich mit der Verarbeitung Ihrer angegebenen Daten zum Zweck der Bearbeitung Ihrer Anfrage einverstanden.</span>
                        </label>
                    </div>
                    <div class="modal__form-row">
                        <button type="submit" class="btn modal__button">
                            <span>Anfrage senden</span>
                            <svg viewBox="0 0 27 27" width="27" height="27">
                                <use xlink:href="./img/sprites/sprite.svg#ico_arrow"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal" id="success">
            <div class="modal__wrap">
                <h3 class="modal__title ttu tac">                     
                    <span class="c-red">Kostenloses</span> <br>Erstgespräch
                </h3>
                <div class="modal__subtitle">Don't be shy, say hi! Wir freuen uns auf einen unverbindlichen Austausch mit Ihnen!</div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>